{% extends 'base.html.twig' %}

{% block body %}
<h2>About</h2>
<section>
    <h3>Who am I?</h3>
    <section>
        <h4>What matters is ...</h4>
        <ul>
            <li>Accessibility</li>
            <li>Performance</li>
            <li>Security</li>
            <li>Maintainability</li>
            <li>Scalability</li>
        </ul>
    </section>
</section>
<section>
    <h3>My skills</h3>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>PHP</li>
        <li>Symfony</li>
        <li>MySQL</li>
        <li>Bootstrap</li>
        <li>Git</li>
    </ul>
</section>
<section>
    <h3>Tools I use</h3>
</section>
<!-- Add more sections as needed -->
<!-- TODO: Have a big button to the "contact" page at the end.  -->
{% endblock %}