{% extends 'base.html.twig' %}

{% block body %}
<h2>About</h2>
<section>
    <h3>Who am I?</h3>
    <ul>
        <li>Resourceful</li>
        <li>Curious</li>
        <li>Hard-working</li>
        <li>Creative</li>
    </ul>
</section>
<section>
    <h3>Skills</h3>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>PHP</li>
        <li>Symfony</li>
        <li>MySQL</li>
        <li>Bootstrap</li>
        <li>Git</li>
        <!-- Planning (in no particular order): -->
        <!-- <li>Docker</li> -->
        <!-- <li>Linux</li> -->
        <!-- <li>Python</li> -->
        <!-- <li>C++</li> -->
        <!-- <li>C#</li> -->
        <!-- <li>Java</li> -->
        <!-- <li>TypeScript</li> -->
        <!-- <li>Tailwind CSS</li> -->
        <!-- <li>React</li> -->
        <!-- <li>Next.js</li> -->
        <!-- <li>Node.js</li> -->
        <!-- <li>Vue.js</li> -->
        <!-- <li>Svelte</li> -->
        <!-- <li>Firebase</li> -->
    </ul>
</section>
<section>
    <h3>Education</h3>
    <ul>
        <li>
            <h4>Bachelor's Degree in Digital Culture - University of Bergen</h4>
        </li>
        <!-- TODO: Add a button to "View Course Summary" -->
    </ul>
</section>
<section>
    <h3>Experience</h3>
</section>
<section>
    <h3>Tools I use</h3>
</section>
<!-- Add more sections as needed -->
<!-- TODO: Have a big button to the "contact" page at the end.  -->
{% endblock %}