{% extends 'base.html.twig' %}

{% block title %}Projects - {{ parent() }}{% endblock %}

{% block body %}
<h2>Projects</h2>
<ul>
    <li><a href="{{ path('lore tracker') }}">Lore tracker</a></li>
    <li><a href="{{ path('notes app') }}">Notes app</a></li>
    <li><a href="">Pomodoro timer</a></li>
</ul>
{% endblock %}