<nav>
    <ul>
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('about') }}">About</a></li>
        <li><a href="{{ path('projects') }}">Projects</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
    </ul>
</nav>